.gutenkit-template-library {
	&__close {
		padding: 0;
		cursor: pointer;
		position: relative;
		border-radius: 50% !important;
		transition: all 0.3s ease-in-out;
		outline: none !important;

		svg {
			width: 14px;
			height: 14px;
		}

		// @include tooltip("Close");
		// @include hoverTooltip;


		&:hover {
			border: none !important;
			box-shadow: none !important;
			outline: none !important;
			background: #F1F2F6 !important;

			svg {
				path {
					transition: all 0.3s ease-in-out;
					stroke: #111722;
				}
			}

			box-shadow: none !important;
		}

		&:focus {
			outline: none !important;
			box-shadow: none !important;
		}

		&:active {
			background: unset !important;
		}
	}

	.gutenkit-library-header {
		border: none !important;
		background: #FFF;
		box-shadow: 0px 6px 14px 0px #090B0F10;

		&-content {
			display: flex;
			justify-content: space-between;
			padding: 0 20px;
		}
	}

	// tooltip 

	.gutenkit-library-icon {
		position: relative;

		.close {
			position: absolute;
			left: -13px;
			top: 34px;
			opacity: 0;
			visibility: hidden;
			transform: translate(0%, -5px);
			transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
		}

		.sync {
			position: absolute;
			right: -33px;
			top: 34px;
			opacity: 0;
			visibility: hidden;
			transform: translate(0%, -5px);
			transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
		}

		&:hover {
			.close {
				opacity: 1;
				visibility: visible;
				transform: translate(0%, 0px);
			}

			.sync {
				opacity: 1;
				visibility: visible;
				transform: translate(0%, 0px);
			}
		}
	}
}

.gutenkit-library {
	&-logo {
		display: flex;
		align-items: center;
		gap: 10px;

		button {
			padding: 0;
			border: none;
			background: none;
			cursor: pointer;
			outline: none !important;
			box-shadow: none !important;
			color: #397fe9 !important;

			&:hover {
				box-shadow: none !important;
			}

			&:focus {
				box-shadow: none !important;
			}

			svg {
				width: 20px;
				height: 20px;
				color: #397fe9;
			}

			&:active {
				background: unset !important;
			}
		}
	}

	&-menu {
		position: relative;
		display: flex;
		gap: 20px;
		--active-width: var(--width, 78px);
		--translate-before: var(--translate, 0%);

		@media (max-width: 768px) {
			display: none;
		}

		.under-line {
			position: absolute;
			bottom: 0;
			left: 0;
			width: var(--active-width);
			height: 3px;
			background: #3B67FE;
			transform: translateX(var(--translate-before));
			transition: all 0.3s;
		}

		&-item {
			height: 100% !important;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 3px solid transparent !important;
			padding: 20px 12px !important;
			box-shadow: none !important;
			outline: none !important;
			text-decoration: none !important;
			color: #111722 !important;
			font-size: 14px;
			font-weight: 500;
			font-family: "Roboto", sans-serif;
			line-height: normal;

			&.is-active {
				color: #3B67FE !important;
			}

			&:hover {
				background-color: rgba(59, 103, 254, 0.1);
				color: #3B67FE !important;
			}

			&-title {
				font-size: 14px;
				font-weight: 500;
				color: #333;
			}

			&-count {
				font-size: 12px;
				font-weight: 500;
				color: #999;
			}
		}
	}

	&-search {
		display: flex;
		align-items: center;
		gap: 6px;
	}

	&-synchronize {
		position: relative;
		border-radius: 50% !important;
		outline: none !important;
		transition: all 0.3s ease-in-out;

		&.is-active {
			svg {
				animation: gutenkit-spin 1s linear infinite;
			}
		}

		svg {
			color: transparent;
		}

		// @include tooltip("Sync library");
		// @include hoverTooltip;

		&:hover {
			border: none !important;
			box-shadow: none !important;
			outline: none !important;
			background: #F1F2F6 !important;

			svg {
				path {
					stroke: #111722;
					transition: all 0.3s ease-in-out;
				}
			}
		}

		&:focus {
			border: none !important;
			box-shadow: none !important;
			outline: none !important;

			svg {
				path {
					stroke: #111722;
				}
			}
		}
	}

	&-separate {
		width: 1px;
		height: 24px;
		background: #D8D9DD;
	}
}

@keyframes gutenkit-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}