/* 
	---Device Names---
	1.desktop
	2.tablet
	3.mobile
*/
@mixin responsive($device) {
	@if $device =='desktop' {
		@media (min-width: 1024px) {
			@content;
		}
	}

	@if $device =='tablet' {
		@media (max-width: 1024px) {
			@content;
		}
	}

	@if $device =='mobile' {
		@media (max-width: 767px) {
			@content;
		}
	}

	@if $device =='small' {
		@media (max-width: 480px) {
			@content;
		}
	}
}

@mixin tooltip($content: "Sync library", $backgroundColor: #111722, $textColor: #fff) {
	&::after {
		content: "";
		position: absolute;
		bottom: -12px;
		left: 50%;
		transform: translate(-50%, -5px);
		border-width: 10px;
		border-style: solid;
		border-color: transparent transparent #111722 transparent;
		opacity: 0;
		visibility: hidden;
		filter: drop-shadow(0px 4px 8px rgba(17, 23, 34, 0.30));
		transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
	}

	&::before {
		content: $content;
		position: absolute;
		bottom: -34px;
		left: 50%;
		transform: translate(-50%, -5px);
		background-color: $backgroundColor;
		color: $textColor;
		padding: 5px 7px;
		border-radius: 4px;
		white-space: nowrap;
		opacity: 0;
		visibility: hidden;
		text-align: center;
		font-family: Roboto;
		font-size: 13px;
		transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
		filter: drop-shadow(0px 4px 8px rgba(17, 23, 34, 0.30));
		font-weight: 500;
	}
}

@mixin hoverTooltip {
	&:hover {

		&::after,
		&::before {
			transform: translate(-50%, 0px);
			opacity: 1;
			visibility: visible;
		}
	}
}

@mixin scrollBar($width: 5px, $trackColor: #ffffff, $thumbColor: #B7BAC2, $thumbHoverColor: #969595, $radius: 4px) {
	&::-webkit-scrollbar {
		width: $width;
	}

	&::-webkit-scrollbar-track {
		background: $trackColor;
	}

	&::-webkit-scrollbar-thumb {
		background: $thumbColor;
		border-radius: $radius;
		background-clip: padding-box;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: $thumbHoverColor;
	}
}